<div class="root">
	<div class="navbar has-background-dark">
		<div class="navbar-brand">
		  <div class="navbar-item">
			<h1 class="app-name has-gradient-text">Address Details</h1>
			<!-- <button type="button"
			id="modal-add" href="#modal-container-add" role="button" class="btn" data-toggle="modal" class="btn btn-primary">ADD Address</button>
	 -->
		</div>
		</div>
	  </div>
	<!-- <div class="container-fluid">
		<div class="row">
			<div class="col-md-16">
				
				<div class="modal fade" id="modal-container-add" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="myModalLabel">
									Add Address
								</h5> 
							</div>
							<div class="modal-body">							

								<div class="col-md-8">
									<form>
										<div class="form-group">
										  Adress: <input [(ngModel)]="form.title" name="title" type="text" placeholder="Address..." class="form-control" id="email">
										</div>
										<div class="form-group">
										  Street: <input type="text" name="description" placeholder="Street..." [(ngModel)]="form.description" class="form-control" id="pwd">
										</div>
										<div class="form-group">
										  City: <input type="text" name="description" placeholder="City..." [(ngModel)]="form.description" class="form-control" id="pwd">
										</div>
	                                    <div class="form-group">
										  City: <input type="text" name="description" placeholder="Country.." [(ngModel)]="form.description" class="form-control" id="pwd">
										</div>
											
									</form>
								</div>
							</div>
							<div class="modal-footer">
								 
								<button type="button" class="btn btn-primary" (click)="createTask()" data-dismiss="modal">
									Save changes
								</button> 
			
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
	  </div>
	</div> -->
  
   <!-- <div class="container">
	 
		<form (ngSubmit)='AddTodo()' #Form1='ngForm'>
		  <label>Enter new Title:</label>
	   <input type="text" name="tile" #password placeholder="Enter new title" [(ngModel)]="EditUser.title"><br/>
		  <label>Enter  new description:</label>
	   <input type="text" name="description" #password placeholder="Enter new description" [(ngModel)]="EditUser.description"><br/>
		  <label>Enter Due Date:</label>
	   <input type="text" name="due_date" #type placeholder="Enter due_date" [(ngModel)]="EditUser.due_date"><br/>
	  
	   <button class="btn btn-success">Submit</button>
	 </form>
   </div> -->
   <div>
	<button class="btn btn-warning" (click)="OpenEditor()">Add Form</button> 
   </div>
   <div *ngIf="!flag2">
	<div class="col-md-8">
		<button class="btn btn-danger" (click)="OpenEditor()"> Remove</button>
		<form (ngSubmit)='AddTodo()' #Form1='ngForm'>
			<div class="form-group">
			  Adress: <input [(ngModel)]="form.address" name="title" type="text" placeholder="Address..." class="form-control" id="address">
			</div>
			<div class="form-group">
			  Street: <input type="text" name="description" placeholder="Street..." [(ngModel)]="form.street" class="form-control" id="street">
			</div>
			<div class="form-group">
			  City: <input type="text" name="description" placeholder="City..." [(ngModel)]="form.city" class="form-control" id="city">
			</div>
			<div class="form-group">
			  Country: <input type="text" name="description" placeholder="Country.." [(ngModel)]="form.country" class="form-control" id="country">
			</div>
				
		</form>
	</div>
	<div class="modal-footer">		 
		<button type="button" class="btn btn-success" (click)="createTask()" data-dismiss="modal">
		   Submit
		</button> 
	</div>
</div>
</div>